.siteList {
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.siteList a {
  color: unset;
}
.siteList li {
  display: inline-block;
  text-align: center;
  width: calc(50% - 16px);
  padding: 4px;
  margin: 2px;
  border: 1px solid #ccc;
}
.siteList li:hover {
  border: 1px solid #aaa;
}
